body {
    background-color: rgb(236, 94, 94);
    font-family: "Bitcount Single", system-ui;
    color: rgb(19, 3, 3);
    font-size: 22px;
    align-items: center;
    margin: 50px;
}

h1 {
    color: rgb(4, 4, 152);
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 15px;
}

h2 {
    color: rgb(4, 4, 152);
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 15px;
}

h3 {
    color: rgb(13, 187, 50);
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 15px;
}


p {
    color: rgb(3, 3, 26);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    text-align: justify;

}

img {
    width: 300px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}